.about-inner
    // .about-illustration
    padding-top: 67px
    padding-bottom: 67px
    .section__title
        margin-bottom: 15px
        font-weight: 900
        font-style: normal
        text-align: left
        color: #0d0d0d
        font-size: 55px
        letter-spacing: 1px
    .section__sub__text
        margin: 0px
        font-size: 28px
        color: #27292c
        font-weight: 500
        font-style: normal
        text-align: left
        letter-spacing: 0.6px
    .section__text
        margin: 0px
        font-size: 18px
        color: #27292c
        font-weight: 500
        font-style: normal
        text-align: left
        letter-spacing: 0.8px
        position: relative
        margin-top: 107px
        line-height: 30px
        &::after
            content: ''
            background: url("../img/mass-payments/line-glow-right.png")
            width: 820px
            height: 61px
            position: absolute
            bottom: 0px
            right: auto
            left: -41px
            top: -84px
            display: block
            margin: 0 auto
    .about-illustration
        background: url("../img/mass-payments/about-illustration.png") no-repeat
        width: 587px
        height: 629px
        margin-top: 0px
        margin-left: -175px