.about
    background: #ffffff
    padding-top: 90px
    padding-bottom: 90px
    .section__title
        font-size: 55px
        color: #d9d9d9
        font-weight: 900
        font-style: normal
        text-align: left
        margin-bottom: 65px
    .section__text
        color: #393b3e
        font-weight: 300
        font-style: normal
        margin: 0px