.about
    background: #F7FBFF
    .container
        position: relative
    .about-traces
        position: absolute
        bottom: 15px
        right: 15px
        opacity: 0.5
    .about-photo
        margin-left: 15px
        margin-top: 60px
        margin-bottom: 60px
        float: left
        margin-right: 60px
        border-radius: 50%
        overflow: hidden
        width: 222px
        height: 222px
        .photo__img
    .about-info
        float: left
        width: 72%
        margin-top: 60px
        .title
            font-style: normal
            font-weight: bold
            font-size: 32px
            line-height: 37px
            font-family: Ubuntu
            color: #1D2029
            margin-bottom: 30px
        .text
            font-style: normal
            font-weight: normal
            font-size: 16px
            line-height: 30px
            color: #1D2029
            margin-bottom: 30px
        .more__link
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 19px
            color: #FFFFFF
            width: 180px
            height: 45px
            line-height: 45px
            border-radius: 50px
            text-align: center
            z-index: 1
            position: relative
            display: block
            text-decoration: none

@media only screen and (max-width : 1139px)
    .about
        padding: 60px 0px
        .about-traces
            position: absolute
            bottom: -45px
            right: 15px
            opacity: 0.5
        .about-photo
            margin-left: 15px
            margin-top: 60px
            margin-bottom: 60px
            float: left
            margin-right: 60px
            border-radius: 50%
            overflow: hidden
            width: 222px
            height: 222px
        .about-info
            float: left
            width: 55%
            .title
                font-style: normal
                font-weight: bold
                font-size: 32px
                line-height: 37px
                font-family: Ubuntu
                color: #1D2029
                margin-bottom: 30px
            .text
                font-style: normal
                font-weight: normal
                font-size: 16px
                line-height: 30px
                color: #1D2029
                margin-bottom: 30px
            .more__link
                font-style: normal
                font-weight: 300
                font-size: 16px
                line-height: 19px
                color: #FFFFFF
                width: 180px
                height: 45px
                line-height: 45px
                border-radius: 50px
                text-align: center
                z-index: 1
                position: relative
                display: block
                text-decoration: none

@media only screen and (max-width : 767px)
    .about
        padding: 60px 0px
        .about-traces
            position: absolute
            bottom: -45px
            right: 15px
            opacity: 0.5
        .about-photo
            margin-left: auto
            margin-right: auto
            margin-top: 60px
            margin-bottom: 60px
            float: none
            border-radius: 50%
            overflow: hidden
            width: 222px
            height: 222px
        .about-info
            float: none
            width: 100%
            text-align: center
            .title
                font-style: normal
                font-weight: bold
                font-size: 20px
                line-height: 35px
                font-family: Ubuntu
                color: #1D2029
                margin-bottom: 30px
            .text
                font-style: normal
                font-weight: normal
                font-size: 14px
                line-height: 30px
                color: #1D2029
                margin-bottom: 30px
            .more__link
                font-style: normal
                font-weight: 300
                font-size: 16px
                line-height: 19px
                color: #FFFFFF
                width: 180px
                height: 45px
                line-height: 45px
                border-radius: 50px
                text-align: center
                z-index: 1
                position: relative
                display: block
                text-decoration: none
                margin: 0 auto