.header
    .header-top-panel
        height: 60px
        background: #FFFFFF
        box-shadow: 0 0 10px rgba(0,0,0,0.05)
        .top-menu
            list-style: none
            text-align: left
            margin: 0px
            padding: 0px
            line-height: 60px
            .menu-item
                float: left
                margin-right: 30px
                &:last-child
                    margin-right: 0px
                .item__link
                    font-weight: normal
                    font-size: 14px
                    color: #929292
                    text-decoration: none
                    border-bottom: 1px solid transparent
                    transition: all 0.2s
                    &:hover
                        border-bottom: 1px solid #929292
                &.active
                    .item__link
                        border-bottom: 1px solid #929292
        .menu-social
            list-style: none
            text-align: left
            width: 108px
            margin: 0 auto
            padding: 0px
            line-height: 60px
            .menu-item
                float: left
                margin-right: 20px
                transition: all 0.2s
                &:hover
                    opacity: 0.8
                &:last-child
                    margin-right: 0px
                .item__link
                    text-decoration: none
        
        .panel-search
            position: relative
            width: 300px
            float: right
            margin-top: 15px
            .search-input, .search-suggest
                width: 300px
                height: 30px
                background: #FFFFFF
                border: 1px solid #EBEBEB
                box-sizing: border-box
                border-radius: 50px
                padding-left: 20px
                outline: none
                &::-webkit-input-placeholder 
                    font-style: italic
                    font-weight: normal
                    font-size: 14px
                    line-height: 25px
                    color: #979797

                &::-moz-placeholder 
                    font-style: italic
                    font-weight: normal
                    font-size: 14px
                    line-height: 25px
                    color: #979797

                &:-ms-input-placeholder
                    font-style: italic
                    font-weight: normal
                    font-size: 14px
                    line-height: 25px
                    color: #979797

                &:-moz-placeholder
                    font-style: italic
                    font-weight: normal
                    font-size: 14px
                    line-height: 25px
                    color: #979797

            .search-btn
                background: none
                border: none
                position: absolute
                top: 0px
                right: 5px

    .header-middle-panel
        .panel-logo
            margin-top: 50px
            margin-bottom: 50px
            .logo__link
                text-decoration: none
        .panel-address
            margin-top: 50px
            .address-location
                margin-bottom: 25px
                .location-icon
                    float: left
                    margin-right: 15px
                .location
                    float: left
                    font-style: normal
                    font-weight: 500
                    font-size: 16px
                    line-height: 25px
                    color: #1D2029
                    width: 85%
                    a
                        text-decoration: none !important
                        color: #1D2029
            .address-time
                width: 125px
                height: 35px
                line-height: 32px
                border: 1px solid #5084B7
                box-sizing: border-box
                border-radius: 3px
                font-weight: normal
                font-size: 12px
                color: #5084B7
                text-align: center
                margin-left: 35px

        .panel-contacts
            margin-top: 50px
            .contacts-phone
                font-style: normal
                font-weight: 500
                font-size: 18px
                line-height: 21px
                text-align: right
                color: #1D2029
                float: right
                text-decoration: none
                transition: all 0.2s
                outline: none
                padding: 0px
                &:hover
                    color: #5084B7
                svg
                    margin-right: 15px
            .contacts-request-btn
                margin-top: 40px
                width: 180px
                height: 45px
                border-radius: 50px
                font-style: normal
                font-weight: 300
                font-size: 16px
                line-height: 45px
                color: #FFFFFF
                text-align: center
                float: right
            .dropdown-menu
                top: 5px
                .dropdown-item
                    background: none !important
                    
                    span
                        font-size: 14px
                        color: #929292

    .header-menu-wrapper
        height: 78px
        background: #5084B7
        box-shadow: 0 0 10px rgba(0,0,0,0.05)
        line-height: 78px
        .header-menu
            padding: 0px
            margin: 0px
            list-style: none
            .menu-item
                float: left
                margin-right: 10.9px
                &.item-separator
                    text-align: center
                    margin-top: 38px
                &:last-child
                    margin-right: 0px
                .separator
                    width: 4px
                    height: 4px
                    background: rgba(255, 255, 255, 0.5)
                    border-radius: 50%
                .item__link
                    font-style: normal
                    font-weight: normal
                    font-size: 16px
                    color: #FFFFFF
                    text-decoration: none
                    border-bottom: 1px solid transparent
                    transition: all 0.2s
                    &:hover
                        border-bottom: 1px solid #FFFFFF
                    &.selected
                        border-bottom: 1px solid #FFFFFF
                    &.active
                        border-bottom: 1px solid #FFFFFF

@media only screen and (max-width : 1139px)
    .header
        display: none