.header
    background: url("../img/header-bg.png") no-repeat
    height: 938px

    .container
        position: 
        
    .header-figure
        position: absolute
        top: 194px
        right: -70px
        width: 536px
        height: 536px
        z-index: 1
        background: url("../img/header-figure.png") no-repeat

    .logo
        width: 305px
        height: 55px
        background: url("../img/logo.png") no-repeat
        margin-top: 52px

    .menu
        padding: 0px
        margin: 0
        margin-top: 78px
        list-style: none
        color: #ffffff
        font-size: 16px
        font-weight: 500
        font-style: normal
        .menu-item
            float: left
            margin-right: 54px
            &:last-child
                margin-right: 0px
            .item__link
                color: #ffffff
                text-decoration: none
            &:hover
                .item__link
                    border-bottom: 1px solid #ffffff

    .header-menu
        float: left
    
    .header-contacts-menu
        float: right
        .menu-item
            margin-right: 120px

    .header__title
        font-size: 80px
        line-height: 72px
        font-weight: 900
        font-style: normal
        text-align: left
        margin-bottom: 75px
        margin-top: 167px
        color: #ffffff
    .header__text
        font-size: 21px
        line-height: 34px
        font-weight: 300
        font-style: normal
        color: #fff

    .header-buttons-wrapper
        margin-top: 165px
        .header-btn
            width: 320px
            height: 86px
            display: block
            text-align: center
            line-height: 86px
            text-decoration: none
            color: #ffffff
            margin-right: 30px
            float: left
            border-radius: 3px
            text-transform: uppercase
            font-weight: normal
            font-style: normal
            &:last-child
                margin-right: 0px
            .btn__title
                padding-left: 55px
            .btn-dots
                float: right
                margin-right: 40px
                margin-top: 40px
                .dot
                    background: #ffffff
                    width: 4px
                    height: 4px
                    margin-right: 6px
                    border-radius: 50%
                    float: left
                    &:last-child
                        margin-right: 0px

