.methods
    padding-top: 28px
    padding-bottom: 97px
    position: relative
    .method-illustration
        background: url("../img/mass-payments/method-illustration.png") no-repeat
        width: 1115px
        height: 1070px
        position: absolute
        top: 90px
        right: -238px
    .section__title
        margin-bottom: 15px
        font-weight: 900
        font-style: normal
        text-align: left
        color: #0d0d0d
        font-size: 55px
        letter-spacing: 1px
    .section__sub__text
        margin: 0px
        font-size: 28px
        color: #27292c
        font-weight: 500
        font-style: normal
        text-align: left
        letter-spacing: 0.6px
        position: relative
        &::after
            content: ''
            background: url("../img/mass-payments/line-glow-left.png")
            width: 820px
            height: 61px
            position: absolute
            bottom: -84px
            right: auto
            left: -125px
            top: auto
            display: block
            margin: 0 auto

    .methods-list
        list-style: none
        margin: 0px
        padding: 0px
        width: 540px
        margin-top: 121px
        .method-item
            margin-bottom: 21px
            clear: both
            overflow: hidden
            &:nth-child(2)
                .title
                    margin-top: 80px
            .title-wrapper
                margin-bottom: 15px
                clear: both
                overflow: hidden
            .icon
                position: relative
                float: left
                margin-left: -24px
            .title
                font-size: 28px
                color: #27292c
                font-weight: 500
                font-style: normal
                text-align: left
                float: left
                margin-top: 54px
                line-height: 40px
                margin-left: 18px
                letter-spacing: 0.6px
            .description
                font-size: 18px
                color: #393b3e
                font-weight: 300
                font-style: normal
                text-align: left
                float: left
                line-height: 29px
                letter-spacing: 0.7px