@import vars
@import fonts
@import libs

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	background: #ffffff


@media (max-width: 1139px)
	.container 
		max-width: 768px

// components
@import "components/general.sass"
@import "components/header.sass"
@import "components/banner.sass"
@import "components/advantages.sass"
@import "components/services-popular.sass"
@import "components/specialists.sass"
@import "components/help-block.sass"
@import "components/reviews.sass"
@import "components/news.sass"
@import "components/articles.sass"
@import "components/about.sass"
@import "components/contacts.sass"
@import "components/footer.sass"

@import "components/breadcrumbs.sass"
@import "components/content.sass"
@import "components/header-sticky.sass"
@import "components/pushy-menu.sass"
@import "components/popups.sass"

@import "components/search-page.sass"
@import "components/documents.sass"


@import "../../node_modules/bootstrap/dist/css/bootstrap.css"
@import "../../node_modules/swiper/dist/css/swiper.min.css"
@import "../../node_modules/@cmyee/pushy/css/pushy.css"
@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css"